.mat-card div {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.mat-fab.mat-accent, .mat-flat-button.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent {
    margin: 6px;
    background-color: #ffd740;
}

.mat-card {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.random {
    border-top: 4px solid black;
}

.mat-card p {
    text-align: center;
}

.hater {
    padding: 0px;
    margin-top: 10px;
    border-top: 4px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hater img {
    width: 30vh;
}

.hater p {
    padding: 16px;
    text-align: center;
    margin-bottom: 0px;
    font-weight: bold;
}
