<mat-card class='random'>
  <p>Where do you wanna go?</p>
  <div>
    <button mat-raised-button 
      color="accent" 
      (click)='onClickShitButton()'>
      I don't give a shit
    </button>
    <!-- <button mat-raised-button color="accent">Surprise me!</button> -->
  </div>
</mat-card>

<mat-card [routerLink]="['/users']" class='hater'>
  <p>You feel more like a HATER today</p>
  <img src='../../../assets/images/hater2.png'/>
</mat-card>

<mat-progress-bar class='progress'    
  *ngIf='clicked === true'
  mode="indeterminate" ></mat-progress-bar>