<div class='user-data' *ngIf="user">
    <img [src]='user.profilePic'>
    <h3> {{ user.name }} </h3>
    <p> {{ user.mail }} </p>
</div>

<div class='actions'> 

  <button mat-raised-button
      matTooltip="Info about the action"
      aria-label="Button that displays a tooltip when focused or hovered over">
    <mat-icon>edit</mat-icon>
  </button> 

  <button mat-raised-button
      matTooltip="Info about the action"
      aria-label="Button that displays a tooltip when focused or hovered over"
      (click)='onClickLogout()'>
    <mat-icon>exit_to_app</mat-icon>
  </button> 

</div>

<mat-divider></mat-divider>

<app-hated-list></app-hated-list>


