<mat-card class="example-card">
    <mat-card-header >
      <div *ngIf='fuckOff'>
        <button mat-raised-button
                matTooltip="Info about the action"
                aria-label="Button that displays a tooltip when focused or hovered over"
                (click)='onClickFav()'>
            <mat-icon> {{fuckOff.fav ? 'favorite' : 'favorite_border'}}</mat-icon>
        </button> 
      </div>
      <mat-card-title> {{ fuckOff.destiny.name }} </mat-card-title>
      <mat-card-subtitle> What a lovely place!</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]='fuckOff.destiny.img' alt="Destiny Photo">
</mat-card>

<mat-card class="example-card">
    <mat-card-content>
        <app-map></app-map>
    </mat-card-content>
</mat-card>
