<div *ngIf='user'>
  <nav mat-tab-nav-bar class="navMolona">
    <a mat-tab-link label="Home" 
    [routerLink]="['/users', user.id]">
      <mat-icon>home</mat-icon>
    </a>
    <a mat-tab-link label="Favs" 
    [routerLink]="['/users', user.id, 'myDestinies']">
      <mat-icon>favorite</mat-icon>
    </a>
    <a mat-tab-link label="Stats"
    [routerLink]="['/users', user.id, 'stats']">
      <mat-icon>trending_up</mat-icon>
    </a>
    <a mat-tab-link label="Profile"
    [routerLink]="['/users', user.id, 'profile']">
      <mat-icon>perm_identity</mat-icon>
    </a>
  </nav>
</div>

