<!-- 
<input id="toggle" type="checkbox"/>
<label class="hamburger" for="toggle">
  <div class="top"></div>
  <div class="meat"></div>
  <div class="bottom"></div>
</label>

<div class="nav">
  <div class="nav-wrapper">
    <nav>
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Blog</a>
      <a href="#">Contact</a>
    </nav>
  </div>
</div> -->

<div *ngIf='user'>
<input id="toggle" type="checkbox"/>
<label class="hamburger" for="toggle">
  <div class="top"></div>
  <div class="meat"></div>
  <div class="bottom"></div>
</label>


<div class="nav">
    <div class='nav-wrapper'>
        <nav routerLinkActive="active">
            <a class="active" [routerLink]="['/users', user.id]">Aclo</a>
            <a [routerLink]="['/users', user.id, 'myDestinies']">My Favourites</a>
            <a [routerLink]="['/users', user.id, 'myStats']">My Stats</a>
            <a [routerLink]="['/users', user.id, 'profile']">{{user.name}}</a>
            <div class='left-menu'>
                <div routerLinkActive="active">
                    <button (click)="onClickLogout()">Logout</button>
                </div>
            </div>
        </nav>
    </div>
</div>
</div>
