<div *ngIf='user'>
  <nav mat-tab-nav-bar>
    <a mat-tab-link label="Home" 
    [routerLink]="['/users', user.id]">
      <mat-icon>home</mat-icon>
    </a>
    <a mat-tab-link label="Favs" 
    [routerLink]="['/users', user.id, 'myDestinies']">
      <mat-icon>favorite</mat-icon>
    </a>
    <a mat-tab-link label="Stats"
    [routerLink]="['/users', user.id, 'myStats']">
      <mat-icon>trending_up</mat-icon>
    </a>
    <a mat-tab-link label="Profile"
    [routerLink]="['/users', user.id, 'profile']">
      <mat-icon>perm_identity</mat-icon>
    </a>
  </nav>
</div>

<!-- headerPosition="below" -->

<!-- <nav mat-tab-nav-bar>
    <a mat-tab-link
       *ngFor="let link of navLinks"
       [routerLink]="link.path"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      {{link.label}}
    </a>


    <a class="active" [routerLink]="['/users', user.id]"><mat-icon>home</mat-icon></a>
    <a [routerLink]="['/users', user.id, 'myDestinies']"><mat-icon>favorite</mat-icon></a>
    <a [routerLink]="['/users', user.id, 'myStats']"><mat-icon>trending_up</mat-icon></a>
    <a [routerLink]="['/users', user.id, 'profile']"><mat-icon>perm_identity</mat-icon></a>

  </nav> -->
