
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    font-family: Verdana, Tahoma, sans-serif;
    color: gray;
}

.aclo {
    font-family: Verdana, Tahoma, sans-serif;
    color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container {
    text-align: center;
    margin: 0 auto;
    width: 95%;
    padding: 25px;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.login-container input,
.login-container .signin
{
    display: block;
    margin-top: 10px;
    width: 50vh;
    /* background: #fc0; */
} 

.login-container input {
    border: 1px solid white;
    border-bottom: 4px solid red;
    border-radius: 3px;
    padding: 5px;
    width: 50vh;
    font-family: Verdana, Tahoma, sans-serif;
}

.login-container .input:active,
.login-container .input:focus,
.login-container .input:hover {
    outline: none;
    border: 1px solid red;
}


.login-container .invalid-feedback {
    width: 90%;
    text-align: left;
    font-family: Verdana, Tahoma, sans-serif;
    color: red;
}

.login-container button,
.login-container button:disabled
 {
    background: white;
    border: 1px solid #666;
    color: #666;
    padding: 7px 15px;
    border-radius: 3px;
    font-family: Verdana, Tahoma, sans-serif;
    margin-top: 20px;
}

.login-container button:active,
.login-container button:focus,
.login-container button:hover {
    background: #fff;
    color: red;
    text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-style: double; 
    border: 1px solid white;
}

.signin {
    font-family: Verdana, Tahoma, sans-serif;
    color: #666;
    text-transform: none;
    text-align: center;
}


/* .login-container .signin a {
    font-family: Verdana, Tahoma, sans-serif;
    color: #666;
    text-transform: none;
} */

/* .login-container .signin a:active,
.login-container .signin a:focus,
.login-container .signin a:hover
{
    text-transform: underline;
} */

:any-link:active, 
:any-link:focus,
:any-link:hover {
    color: red;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: fixed;
    border: 1px solid #ccc;
    bottom: 0px; */
}

.image img {
    height: 50vh;
    /* border: 1px solid #0f0; */
}

:any-link {
    color: #666;
    text-decoration: none;
  }



/* .login-container .image {
    background: #0f0;
} 

.login-container .image img{
    width: 100%;
    height: auto;
} */


/* @media (min-width: 481px) {
    .login-container {
        min-width: initial;
        padding: 25px;
    }
} */

@media (min-width: 960px) {
    .login-container {
        margin: 0 auto;
        min-width: 30%;
        padding: 25px;
    }
}
