.example-container {
    display: flex;
    flex-direction: column;
  }
  
.example-container > * {
  width: 100%;
}

small {
    color: red;
}

.mat-form-field {
    margin-top: 10px;
}

.aclo {
    font-family: Verdana, Tahoma, sans-serif;
    color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mat-card button:disabled
 {
    background: white;
    border: 1px solid #666;
    color: #666;
    padding: 7px 15px;
    border-radius: 3px;
    font-family: Verdana, Tahoma, sans-serif;
    margin-bottom: 30px;
}

.mat-card button {
    background: #fff;
    color: red;
    border: 1px solid red;
    padding: 7px 15px;
    border-radius: 3px;
    margin-bottom: 30px;
    margin-top: 15px;
}
.mat-card button:focus,
.mat-card button:hover {
    background: #fff;
    color: red;
    text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-style: double; 
    border: 1px solid white;
}

.signin {
    font-family: Verdana, Tahoma, sans-serif;
    color: #666;
    text-transform: none;
    text-align: center;
    margin: 20px;
}

:any-link {
    color: #666;
    text-decoration: none;
}


:any-link:active, 
:any-link:focus,
:any-link:hover {
    color: red;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image img {
    height: 50vh;
}

@media (min-width: 481px) {
    .login-container {
        min-width: initial;
        padding: 25px;
    }
}

@media (min-width: 960px) {
    .login-container {
        margin: 0 auto;
        min-width: 30%;
        padding: 25px;
    }
}
